:root {
  --primary-bg: #fcfcfc;
  --secondary-bg: #fff;
  // --dark-theme: #3a3b40;
  --primary-text-color: #303030;
  --secondary-text-color: #5a5a5a;
  --alt-text-color: #747474;
  --shadow-color: #91919133;
}
