.header {
  padding: 30px 25px;
  background: var(--secondary-bg);
  color: var(--primary-text-color);
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0px 0px 8px var(--shadow-color);
  &__title {
    font-weight: 700;
    font-size: 15px;
  }
  &__changeMode {
    display: flex;
    gap: 6px;
    cursor: pointer;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 30px 5vw;
    &__title {
      font-size: 17px;
    }
    &__changeMode {
      font-size: 16px;
      gap: 10px;
    }
  }
}
